<h1>Artists</h1>
<%= link_to 'New Artist', new_billboard_artist_path(@billboard) %>
<ul>
  <% @artists.each do |artist| %>
    <li>
      <%= link_to artist.name, [@billboard, artist] %>
      <br />
      <%= link_to 'Edit', edit_billboard_artist_path(@billboard, artist) %>
      <%= button_to 'Delete', [@billboard, artist], method: :delete %>
    </li>
    <br />
  <% end %>
</ul>
<br />
<%= link_to 'Back', billboard_path(@billboard) %>
