<h1>New Artist</h1>
<%= form_for [@billboard, @artist] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :rank %>
  <%= f.number_field :rank %>
  
  <%= f.submit %>
<% end %>